<header id="header">
  <nav class="navbar navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag("vue-newsletter.png")%></a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <% if user_signed_in? %>
                <li><%= link_to "Events","#" %></li>

              <% if current_user.has_role? 'hr'%>
                <li><%= link_to "Add Department",departments_path %></li>
                <li><%= link_to "Employee Registration",employees_path %></li>
                <li><%= link_to "Leave Type",entitlements_path %></li>
                 <li><%= link_to "Payroll",payroll_index_path %></li>

              <% else %>
                <li class="apy__lv"><%= link_to "APPLY LEAVE",leave_entitlements_path %></li>
                <li id="noti_Container">
                  <div id="noti_Counter"></div> 
                  <div id="noti_Button"></div>    
                  <div id="notifications">
                      <h3 class="heading-note">Notifications</h3>
                      <div style="height:300px;" id="real-notification">
                        <% watch_notifications.each do |lr|%>
                          <h3 class="single-note"> Your leave is <%= lr.status %> </h3>
                        <% end %>
                      </div>
                      <div class="seeAll"><a href="#">See All</a></div>
                  </div>
                </li>
              <% end %>
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span style="color:#999999">(<%=  current_user.roles.first.name %>)</span> <%= current_user.fname %><span class="caret white-icon"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", edit_user_registration_path %></li><%#= link_to "Profile",profile_settings_path %>
                    <li><%= link_to "Setting", hrm_dl_settings_path %></li>
                    <li><%= link_to "Requested Leave", request_leave_entitlements_path %> </li>
                    <li><%= link_to('Log Out', destroy_user_session_path, method: :delete) %></li>
                  </ul>
                </li>

        			<% else %>
                <li class="active"><%= link_to "HOME",root_url %></li>
                <li><%= link_to "CARRIER",carrier_static_pages_path %></li>
                <li><%= link_to "ABOUT US",about_static_pages_path %></li>
                <li><%= link_to "CONTACT US",contact_static_pages_path %></li>
                <li><%= link_to "HELP",help_static_pages_path %></li>
<!--            <li><%#= link_to "SIGN UP", new_user_registration_path %></li>
 -->        		<li><%= link_to('LOGIN', new_user_session_path)  %></li>
      			<% end %>
    		</ul>
      </div>
    </div><!--/.container-->
  </nav><!--/nav-->

</header><!--/header-->

