<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @user.email %></h2>
    <p> From <%= @lv.start_date %></p> to <p><%= @lv.end_date %></p>
		he requested for <%=@lv.days %> 
    <p> <%= @lv.reason%>
      
    </p>
  </body>
</html>
