<section class="container">
 <h3  class="center"> Employee leaves </h3>
 <table class="table">
   <tr>
      <th>User Email</th>
      <th>days</th>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
   </tr>
   <% @leave_request.each do |lrqst| %>
      <tr>
        <td><%= lrqst.user.email%></td>
        <td><%= lrqst.days%></td>
        <td><%= lrqst.start_date %></td>
        <td><%= lrqst.end_date %></td>
        <td>
          <% if lrqst.status.nil? %>
            <span id="lv-statusch-<%= lrqst.id%>">
              <%= link_to "Approve", approve_reject_entitlement_path(lrqst,:status=>0), method: "patch", remote: true %>
              <%= link_to "Pending", approve_reject_entitlement_path(lrqst,:status=>1), method: "patch", remote: true %>
              <%= link_to "Reject", approve_reject_entitlement_path(lrqst,:status=>2), method: "patch", remote: true  %>
            </span>
          <% else %>
            <%= lrqst.status %>
          <% end %></td>
      </tr>
   <% end %>
  </table>
</section>